.box{
    width:80%;
    height:100%;
    margin-left:15%;
    margin-top:20pt;
    white-space: nowrap;
  }

  .cell{
  display:inline-block;
  border-style:groove;
  height:100%;
}

.level
{
  float:left;
  width:110px;
}

.next
{
  width:100%;
  display:inline-block;
  text-align:center;
}

.left-box
{
  float:left
}

.left-box-2
{
  float:left;
  padding-left:20pt;
}

.button {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size:100%;
    background: #e7e7e7;
    border: 1px solid;
    box-shadow: inset 0 0 0 1px #cdeffb;
    padding:4px;
    transition:all 0.4s;
}

.button:disabled
{
    background: #aaaaaa;
    color:#779
}

.button:hover
{
  color: #fff;
  background: #555555;
}

.start
{
  margin-top:10px;
  text-align:center;
}

.overlay
{
  position:absolute;
  top:89px;
  left:0;
  width:100%;
  height:150%;
  background-color:#adafce;
}

.dialog
{
  border-radius:25px;
  text-align:center;
  position:absolute;
  top:120px;;
  left:35%;
  border:1px solid;
  background-color:#e4e4e4;
  width:28%;
  height:200px;
  z-index:1;
  
}

.overlay, .dialog
{
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}

.overlay.active
{
  opacity: 0.8;
  visibility: visible;
}

.dialog.active
{
  opacity: 1;
  visibility: visible;
}

