   
  <div *ngIf="activeGame.state == 'init'" class="start">
  <button (click)="startNewGame() " class="button">hit me to start!</button>
  </div>

   <div class="level" *ngIf="activeGame.state != 'init'">Your on level {{activeGame.level}}</div>

   <div *ngIf="activeGame.state == 'rFinished'" class="next">
    <button class="button" (click)="continueGame()">wuhuu go on with level {{activeGame.level+1}}</button>
   </div>
  
  <div class="box" *ngIf="activeGame.state == 'runningShow' || activeGame.state == 'runningUser'|| activeGame.state == 'gameFinished'">
  <div [style.height.%]="tileSize" *ngFor="let row of rows">
    <tile [state]="tile.state" [id]=tile.id class="cell" [style.width.%]="tileSize" (tileClick)="tileClicked($event)" *ngFor="let tile of row.tiles">
    </tile>
  </div>
  <div [style.margin-top.pt]="'15'" *ngIf="activeGame.state == 'runningUser'">uhhh thats too hard. <button [disabled]="solving" class="button" (click)="solve()">Win the game for me</button></div>
  </div>


  <div [ngClass]="{'overlay':true,'active':activeGame.state == 'gameFinished' }"></div>

  <div [ngClass]="{'dialog':true,'active':activeGame.state == 'gameFinished' }">
   <p>OH NO that was wrong.</p>
    You reached level: {{activeGame.level}} with {{activeGame.result}}% correct Tiles<br>
    Save your highscrore for eternity: <input [(ngModel)]="playerName" placeholder="{{placeholder}}"/> <button class="button" (click)="save()">save</button>
     or <button class="button" (click)="startNewGame()" >try again :) </button><br/>
  </div>