h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

div
{
  color: #559;
  font-family: Arial, Helvetica, sans-serif;
  font-size:100%;
}

body, html {
    height: 100%;
}


